<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students list</title>
</head>
<body>

    <table border = "0" cellpadding="3" >
    <caption>Table of Students</caption>
    <tr>
        <th width=100 align=left>Name</th>
        <th width=100 align=left>Surname</th>
        <th width=100 align=left>Patronymic</th>
        <th width=100 align=left>Average Score</th>
    </tr>
        {% for man in student %}
        <!--Если бы я раньше знал, что так можно делать, яб такие проекты бабахал бы на спринге, но там поганый NodeJs-->
    <tr>
        <td>{{ man.fstName }}</td>
        <td>{{ man.secName }}</td>
        <td>{{ man.patronymic }}</td>
        <td>{{ man.averageMark }}</td>
    </tr>
        {% endfor %}
    </table>
<input type="button" value="Add students" onClick='location.href="/students/addStudPage"'>
</body>
</html>