{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/png" />
    <title>Ошибочка 403</title>
</head>
<body>
<div class="error-page" style="position: inherit; margin-left: 7%; margin-right: 7%;">
    <div class="page-not"><h1> Нет доступа! А собсна, а как вы тут оказались? </h1></div>
    <a href="/">
        <img style="width: 100%;" width="800" height="600" src="{% static 'images/403.jpg' %}">
    </a>
    <div class="button-error" style="display: flex; align-items: center; justify-content: center;">
        <a href="/">Вернуться на главную</a>
    </div>
</div>
</body>
</html>