{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
    function check_text() {
        xhr = new XMLHttpRequest();
        xhr.open("POST", "classificate", true);
        xhr.setRequestHeader("Content-type", "application/json");
        xhr.onreadystatechange = function () {
            var json = JSON.parse(xhr.responseText);
            alert(json + "\nЕсли классификатор предсказал верно, пожалуйста, выставите соответствующую категорию");
        }
        xhr.send(JSON.stringify({"text": document.getElementById("text").value}));
    }
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/png" />
	<title>newsru | Создание статьи</title>
</head>
<body>
<div class="header">
	<div class="header-logo" href="www.newsru.com">
		<img class="logo-image" src="{% static 'images/rucom_main.png' %}" border="0" title="Новости newsru.com">
	</div>
	<div class="splash"></div>
	<div class="space"></div>
	<div class="splash"></div>
	<div class="world">
		<img class="world-image" src="{% static 'images/map_dots.png' %}" border="0">
	</div>
</div>
    <div class="main">
        <div class="menu">
            <div class="menu-element">
                <a href="/">ВСЕ СТАТЬИ</a>
            </div>
            <div class="menu-element" style="background-color:#189c5b;">
                <a style="color: white;">КАТЕГОРИИ</a>
            </div>
            <form method="post" action="search" id="category">
            {% for category in categories %}
                <div class="menu-element">
                    <input type="submit" name="category" class="button-category" value="{{ category }}" />
                </div>
            {% endfor %}
            </form>
        </div>
        {% csrf_token %}
        <form action="add" method="post" style="display: contents;width: 100%;">
            <div class="article">
            <!--тут может быть пагинатор-->
                <div class="article-category" id="article-category">Категория:
                    <select name="category" id="category">
                        {% for category in categories %}
                            <option>{{category}}</option>
                        {% endfor %}
                    </select></div>
                    <div class="article-main">
                        <h1 class="article-name" id="article-name">Заголовок: <input id="title" name="title" type="text" style='width: 100%' required></h1>
                        <div class="article-date" id="article-date">Дата составления: <input id="date" name="date" type="date" required></div>
                        <div class="article-text" id="article-text">Текст статьи: <textarea id="text" name="text" type="text" style='width: 100%; height: 500px;resize: none;' required></textarea></div>
                    </div>
                    <div class="article-tag"><strong>Теги:</strong> <input id="tags" name="tags" type="text" style='width: 100%' required></div>
    {#                <div class="article-keyWords"><strong>Ключевые слова:</strong> <input id="keyWords" name="keyWords" type="text" style='width: 100%'></div>#}
                    <div class="article-url"><strong>Ссылка на статью: </strong> <input id="url" name="url" type="text" style='width: 100%'></div>
            </div>
            <div class="editor">
                <div class="editor-element-header"><strong>РЕДАКТИРОВАНИЕ</strong></div>
                <!--Имеет смысл добавить кнопку для фиксации работы-->
                <div class="editor-element">
                    <input type="submit" class="button-editor" value="Создать статью">
                </div>
                <div class="editor-element">
                    <input type="submit" class="button-editor" onclick="check_text()" value="Классифицировать статью">
                </div>
                <div class="editor-element">
                    <br>
                    <a href="/">Вернуться на главную</a>
                </div>
            </div>
        </form>
    </div>
</body>