{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="ru">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
<script>
    window.onload= function() {
	    document.getElementById('toggler').onclick = function() {
	        openbox('box', this);
	        return false;
	    };
	};
    function openbox(id, toggler) {
	    var div = document.getElementById(id);
	    if(div.style.display === 'block') {
	        div.style.display = 'none';
	        toggler.innerHTML = 'Найти статью';
	    }
	    else {
	        div.style.display = 'block';
	        toggler.innerHTML = 'Скрыть поиск';
	    }
	}
	function classificate() {
        var chbox = document.getElementById('classifer');
        var arrArticles = document.getElementsByClassName("article-list active");
        if (chbox.checked) {
            alert('Режим классификации включён');
            for (let i = 0; i < arrArticles.length; i++) {
                //arrArticles[i].setAttribute("href", "exam=" + arrArticles[i].id);
                arrArticles[i].setAttribute("onclick", "start(" + arrArticles[i].id + ")")
                arrArticles[i].setAttribute("href", "#");
            }
        } else {
            alert('Режим классификации выключен');
            for (let i = 0; i < arrArticles.length; i++) {
                arrArticles[i].setAttribute("href", "id=" + arrArticles[i].id);
                arrArticles[i].setAttribute("onclick", "")
            }
        }
    }
    function start(id) {
        xhr = new XMLHttpRequest();
        xhr.open("POST", "exam=" + id, true);
        xhr.setRequestHeader("Content-type", "application/json");
        xhr.onreadystatechange = function () {
            var json = JSON.parse(xhr.responseText);
            alert(json);
        }
        xhr.send(id);
    }
</script>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/png" />
	<title>newsru | Коллекция</title>
</head>
<body>
<div class="header">
	<div class="header-logo" href="www.newsru.com">
		<img class="logo-image" src="{% static 'images/rucom_main.png' %}" border="0" title="Новости newsru.com">
	</div>
	<div class="splash"></div>
	<div class="space"></div>
	<div class="splash"></div>
	<div class="world">
		<img class="world-image" src="{% static 'images/map_dots.png' %}" border="0">
	</div>
</div>
<div class="main">
	<div class="menu">
		<div class="menu-element">
			<a href="/">ВСЕ СТАТЬИ</a>
		</div>
		<div class="menu-element" style="background-color:#189c5b;">
			<a style="color: white;">КАТЕГОРИИ</a>
		</div>
        <form method="post" action="search" id="keyWord">
            {% for category in categories %}
                <div class="menu-element">
                    <input type="submit" name="category" class="button-category" value="{{ category }}" />
                </div>
            {% endfor %}
        </form>
    </div>
	<div class="article">
	<!--тут может быть пагинатор-->
        <div class="article-category"><strong>СТАТЬИ{{ findedNum }}</strong></div>
        <div class="article-main">
            {% for PList in PList %}
                <br/>
                <a id="{{PList.id}}" class="article-list active" href="id={{PList.id}}" contenteditable="false">{{PList.title}}</a>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if PList.has_previous %}<a class="Button" href="?page={{ PList.previous_page_number }}">Предыдущая страница</a>{% endif %}
                    <span class="current">Страница {{ PList.number }} из {{ PList.paginator.num_pages }}</span>
                    {% if PList.has_next %}<a class="Button" href="?page={{ PList.next_page_number }}">Следущая страница</a>{% endif %}
                </span>
            </div>
        </div>
	</div>
	<div class="editor">
        <div class="editor-element-header"><strong>ПОИСК</strong></div>
		<!--Тутачки реализуем поиск-->
		<div class="editor-element">
            <a href="add">Содзать статью</a>
		</div>
		<div class="editor-element">
            <div class="classif">
                <a class="classif-menu">Классифицировать?</a>Нет
                <label class="switch">
                    <input type="checkbox" id="classifer" onchange="classificate()" value="1">
                    <span class="slider round"></span>
                </label>Да
            </div>
            <form method="post" action="search" id="category">
                <a class="search-menu" id="toggler">Найти статью</a>
                    <ul class="open-menu" id="box">
                        <li>
                            <a>Категория</a>
                            <select name="category">
                            <option></option>
                            {% for category in categories %}
                                <option>{{category}}</option>
                            {% endfor %}
                        </select>
                        </li>
                        <li>
                            <a>Теги</a>
                            <input type="text" name="tag" placeholder="Теги">
                        </li>
{#                        <li>#}
{#                            <a>Ключевое слово</a>#}
{#                            <input type="text" name="keyWord" placeholder="Ключевые слова">#}
{#                        </li>#}
                        <li>
                            <a>Название заголовка</a>
                            <input type="text" name="title" placeholder="Заголовок">
                        </li>
    {#                    <li>#}
    {#                        <a>Дата публикации</a>#}
    {#                        <input type="date" name="date">#}
    {#                    </li>#}
                        <input type="submit" class="button-search" value="Поиск!">
                        <div style="height: 100px"></div>
                    </ul>
            </form>
		</div>
	</div>
</div>
</body>