{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
		function saveChange() {
			const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
			var xhr = new XMLHttpRequest();
			xhr.onload = (e) => {
			   window.location="";
			};
			xhr.open("POST", "/save", true);
			xhr.setRequestHeader("X-CSRFToken", csrftoken);
			xhr.setRequestHeader("Content-type", "application/json");
			xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");

			var articleID = "{{article.id}}"
			var url = document.getElementById("article-url-js").textContent;
			var title = document.getElementById("article-name").textContent;
			var text = document.getElementById("article-text").textContent;
			var date = document.getElementById("article-date").textContent;
			var category = document.getElementById("article-category").textContent;
			{#var keyWords = document.getElementById("article-keyWords-js").textContent;#}
			var tags = document.getElementById("article-tag-js").textContent;
			data = {
				"id": articleID,
				"url": url,
				"title": title,
				"text": text,
				"date": date,
				"category":category,
				{#"keyWords":keyWords,#}
				"tags": tags,
			};
			xhr.send(JSON.stringify(data));
			return false;
		}

		// Можно красивше, но оставлю рабочий вариант
        function contenteditableFunc(number) {
                if (number === 0) {
                    $("input[value=\"Режим просмотра\"]").attr('value', "Режим редактора")
                    $("input[onclick=\"contenteditableFunc(0)\"]").attr('onclick', "contenteditableFunc(1)")
                    document.getElementById("article-category").contentEditable = "false";
                    document.getElementById("article-name").contentEditable = "false";
                    document.getElementById("article-date").contentEditable = "false";
                    document.getElementById("article-text").contentEditable = "false";
                    document.getElementById("article-tag-js").contentEditable = "false";
                    {#document.getElementById("article-keyWords-js").contentEditable = "false";#}
                    document.getElementById("article-url-js").contentEditable = "false";
                } else {
                    $("input[value=\"Режим редактора\"]").attr('value', "Режим просмотра")
                    $("input[onclick=\"contenteditableFunc(1)\"]").attr('onclick', "contenteditableFunc(0)")
                    document.getElementById("article-category").contentEditable = "true";
                    document.getElementById("article-name").contentEditable = "true";
                    document.getElementById("article-date").contentEditable = "true";
                    document.getElementById("article-text").contentEditable = "true";
                    document.getElementById("article-tag-js").contentEditable = "true";
                    {#document.getElementById("article-keyWords-js").contentEditable = "true";#}
                    document.getElementById("article-url-js").contentEditable = "true";
                }
        }
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/png" />
	<title>newsru | {{article.title}}</title>
</head>
<body>
<div class="header">
	<div class="header-logo" href="www.newsru.com">
		<img class="logo-image" src="{% static 'images/rucom_main.png' %}" border="0" title="Новости newsru.com">
	</div>
	<div class="splash"></div>
	<div class="space"></div>
	<div class="splash"></div>
	<div class="world">
		<img class="world-image" src="{% static 'images/map_dots.png' %}" border="0">
	</div>
</div>
<div class="main">
	<div class="menu">
            <div class="menu-element">
                <a href="/">ВСЕ СТАТЬИ</a>
            </div>
            <div class="menu-element" style="background-color:#189c5b;">
                <a style="color: white;">КАТЕГОРИИ</a>
            </div>
        <form method="post" action="search" id="keyWord">
            {% for category in categories %}
                <div class="menu-element">
                    <input type="submit" name="category" class="button-category" value="{{ category }}" />
                </div>
            {% endfor %}
        </form>
    </div>
	<div class="article">
	<!--тут может быть пагинатор-->
        <div class="article-category" id="article-category" contenteditable="False"><strong>{{article.category}}</strong></div>
			<div class="article-main">
				<h1 class="article-name" id="article-name" contenteditable="False">{{article.title}}</h1>
				<div class="article-date" id="article-date" contenteditable="False">{{article.date}}</div>
				<div class="article-text" id="article-text" contenteditable="False">{{article.text}}</div>
			</div>
			<div class="article-tag"><strong>Теги:</strong> <a id="article-tag-js" contenteditable="False">{{article.tags}}</a></div>
{#            <div class="article-keyWords"><strong>Ключевые слова:</strong> <a id="article-keyWords-js" contenteditable="False">{{article.keyWords}}</a></div>#}
			<div class="article-url"><strong>Ссылка на статью: </strong> <a id="article-url-js" contenteditable="False" href={{article.url}}>{{article.url}}</a></div>
	</div>
	<div class="editor">
        <div class="editor-element-header"><strong>РЕДАКТИРОВАНИЕ</strong></div>
		<!--Имеет смысл добавить кнопку для фиксации работы-->
		<div class="editor-element">
            <input type="submit" class="button-editor" onclick="contenteditableFunc(1)" value="Режим редактора">
            <input type="submit" class="button-editor" onclick="saveChange()" value="Сохранить">
		</div>
		<div class="editor-element">
            {% csrf_token %}
{#            TODO: алерт с предупреждением#}
            <form action="/delete" method="post">
                <input type="hidden" id="articleID" name="articleID" value="{{article.id}}">
			    <input type="submit" class="button-editor" value="Удалить">
            </form>
		</div>
	</div>
</div>
</body>