<!--TODO: Кандидат на удаление!-->
<!DOCTYPE html>
{% load static %}
<html lang="ru">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<style>
	input[type=submit] {
		width: 100%;
		text-align: left;
    	padding:5px 30px;
    	background:white;
    	border:0 none;
    	cursor:pointer;
    	border-radius: 5px;
	}
</style>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png" />
	<title>Редактирование статей | newsru.com</title>
</head>
<body>
<div class="page">
    <div class="content">
		<div class="header-desc">
			<div class="header-logo">
				<a class="header-logo-a"><img class="header-img" src="{% static 'images/rucom_main.png' %}" border="0" title="Самые быстрые новости" /></a>
			</div>
			<div class="logo-px"></div>
		</div>
		<form action="/change/add" method="post">
			{% csrf_token %}
			<div class="main_row">
				<div class="body-page-left-column">
					<form method="post" action="/find" id="formID">
						{% csrf_token %}
					<div class="menu_left">
						<div class="main-menu-element"></div>
						<div class="main-menu-element">
							<a id="allnews" class="menu" href="/">ВСЕ СТАТЬИ</a>
						</div>
						<div class="main-menu-element">
							<a id="dossiers_30836" class="menu-active" href="">КАТЕГОРИИ</a>
						</div>
						<div class="main-menu-element">
							{% with category="В РОССИИ" %}
							<input name="category" class="menu" value="{{category}}" type="submit">
							{% endwith %}
						</div>
						<div class="main-menu-element">
							{% with category="В МИРЕ" %}
							<input name="category" class="menu" value="{{category}}" type="submit">
							{% endwith %}
						</div>
						<div class="main-menu-element">
							{% with category="ЭКОНОМИКА" %}
							<input name="category" class="menu" value="{{category}}" type="submit">
							{% endwith %}
						</div>
						<div class="main-menu-element">
							{% with category="СПОРТ" %}
							<input name="category" class="menu" value="{{category}}" type="submit">
							{% endwith %}
						</div>
						<div class="main-menu-element">
							{% with category="КУЛЬТУРА" %}
							<input name="category" class="menu" value="{{category}}" type="submit">
							{% endwith %}
						</div>
						<div class="main-menu-element">
							{% with category="ИНОПРЕССА" %}
							<input name="category" class="menu" value="{{category}}" type="submit">
							{% endwith %}
						</div>
						<div class="main-menu-element">
							{% with category="МНЕНИЯ" %}
	<!--						<a id="blog" class="menu" href="/blog/">{{category}}</a>-->
							<input name="category" class="menu" value="{{category}}" type="submit">
							{% endwith %}
						</div>
						<div class="main-menu-element">
							{% with category="НЕДВИЖИМОСТЬ" %}
							<input name="category" class="menu" value="{{category}}" type="submit">
							{% endwith %}
						</div>
						<div class="main-menu-element">
							{% with category="ТЕХНОЛОГИИ" %}
							<input name="category" class="menu" value="{{category}}" type="submit">
							{% endwith %}
						</div>
						<div class="main-menu-element">
							{% with category="АВТОНОВОСТИ" %}
							<input name="category" class="menu" value="{{category}}" type="submit">
							{% endwith %}
						</div>
						<div class="main-menu-element">
							{% with category="МЕДИЦИНА" %}
							<input name="category" class="menu" value="{{category}}" type="submit">
							{% endwith %}
						</div>
					</div>
				</form>
			</div>
			<div class="body-page-center-column">
					<div class="content-main">
						<div class="main-caption">
							<label for="category">Категория</label>
                  			<input id="category" name="category" type="text" required>
						</div>
						<div class="article">
							<label for="title">Заголовок</label>
                  			<input id="title" name="title" type="text" required>
							<div style="display:flex;flex-direction:row;justify-content: space-between;margin:-2px;"  >
								<div class="article-date-tags" style="width:100%;justify-content:left;">
									<div class="article-date">
										<label for="date">Заголовок</label>
                  						<input id="date" name="date" type="date" required></div>
								</div>
							</div>
							<div class="article-text">
								<label for="text">Текст статьи</label>
								<textarea id="text" name="text" cols="85%" rows="30%"></textarea>
							</div>
						</div>
						<div class="article-tags-list dossieros" style="border-bottom: 1px solid #c3d2e4;">
							<label for="tags">Теги</label>
                  			<input id="tags" name="tags" type="text" required>
						</div>
<!--						<div class="article-tags-list dossieros" style="border-bottom: 1px solid #c3d2e4;"><a><strong>Ключевые</strong></a></div>-->
						<div class="article-tags-list dossieros" style="border-bottom: 1px solid #c3d2e4;">
							<label for="URL"><a><strong>Ссылка на статью: </strong></a></label>
                  			<input id="URL" name="URL" type="text" required>
						</div>
						<div class="article-tags-list dossieros" >
							<label for="nameFile"><a><strong>Наименование файла: </strong></a></label>
                  			<input id="nameFile" name="nameFile" type="text" required>
						</div>
					</div>
				</div>
			<div class="body-page-right-column">
				<div class="right-column-most-popular">
					<div class="last-column-caption">Инструменты редактирования</div>
					<div class="right-column-most-popular-list">
						<div class="right-column-most-popular-item">
							<div class="right-column-most-popular-date"></div>
							<div class="right-column-most-popular-text"><input type="submit" name="submit" value="Создать статью"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</form>
    </div>
</div>
</body>
</html>