<!DOCTYPE html>
{% load static %}
<html lang="ru">
<style>
	.ButtonGo {
        border: 1px solid #333;
        display: inline-block;
        padding: 1px 25px;
        text-decoration: none;
        color: #000;
    }
    .list-group-item {
        position: relative;
        display: block;
        padding: 0.75rem 1.25rem;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
    }
    .pagination{
        margin: 20px;
    }
</style>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png" />
	<title>Редактирование статей | newsru.com</title>
</head>
<body>
<div class="page">
    <div class="content">
		<div class="header-desc">
			<div class="header-logo">
				<a class="header-logo-a"><img class="header-img" src="{% static 'images/rucom_main.png' %}" border="0" title="Самые быстрые новости" /></a>
			</div>
			<div class="logo-px"></div>
		</div>
		<div class="main_row">
            <div class="body-page-left-column">
                <div class="menu_left">
					<div class="main-menu-element"></div>
					<div class="main-menu-element">
						<a id="allnews" class="menu" href="/">ВСЕ СТАТЬИ</a>
					</div>
					<div class="main-menu-element">
						<a id="dossiers_30836" class="menu-active" href="">КАТЕГОРИИ</a>
					</div>
					<div class="main-menu-element">
						<a id="russia" class="menu" href="/russia/">В РОССИИ</a>
					</div>
					<div class="main-menu-element">
						<a id="world" class="menu" href="/world/">В МИРЕ</a>
					</div>
					<div class="main-menu-element">
						<a id="finance" class="menu" href="/finance/">ЭКОНОМИКА</a>
					</div>
					<div class="main-menu-element">
						<a id="religy" class="menu" href="/dossiers/154/">РЕЛИГИЯ</a>
					</div>
					<div class="main-menu-element">
						<a id="crime" class="menu" href="/dossiers/30/">КРИМИНАЛ</a>
					</div>
					<div class="main-menu-element">
						<a id="sport" class="menu" href="/sport/">СПОРТ</a>
					</div>
					<div class="main-menu-element">
						<a id="cinema" class="menu" href="/cinema/">КУЛЬТУРА</a>
					</div>
					<div class="main-menu-element">
						<a class="menu" href="http://www.inopressa.ru/">ИНОПРЕССА</a>
					</div>
					<div class="main-menu-element">
						<a id="blog" class="menu" href="/blog/">МНЕНИЯ</a>
					</div>
					<div class="main-menu-element">
						<a id="realty" class="menu" href="/realty/">НЕДВИЖИМОСТЬ</a>
					</div>
					<div class="main-menu-element">
						<a id="hitech" class="menu" href="/hitech/">ТЕХНОЛОГИИ</a>
					</div>
					<div class="main-menu-element">
						<a id="auto" class="menu" href="/auto/">АВТО</a>
					</div>
					<div class="main-menu-element">
						<a class="menu" href="http://www.meddaily.ru/">МЕДИЦИНА</a>
					</div>
				</div>
			</div>
			<div class="body-page-center-column">
				<div class="content-main">
					<div class="main-caption">
						<a class="cap-link" id="category">{{category}}</a>
					</div>
					<div class="article">
						<div style="display:flex;flex-direction:row;justify-content: space-between;margin:-2px;"></div>
						<div class="article-text" id="text">
							<div class="list-group" style="">
								{% for xmlPag in xmlPag %}
								{# Each "xmlPag" in xmlPagList. #}
								{{ xmlPag.full_name|upper }}<br/>
								<a href="{{xmlPag}}" class="list-group-item list-group-item-action active" contenteditable="false">{{xmlPag}}</a>
								{% endfor %}
								<div class="pagination">
									<span class="step-links">
										{% if xmlPag.has_previous %}<a class="ButtonGo" href="?page={{ xmlPag.previous_page_number }}">Предыдущая страница</a>{% endif %}
										<span class="current">Страница {{ xmlPag.number }} из {{ xmlPag.paginator.num_pages }}</span>
										{% if xmlPag.has_next %}<a class="ButtonGo" href="?page={{ xmlPag.next_page_number }}">Следущая страница</a>{% endif %}
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="body-page-right-column">
				<div class="right-column-most-popular">
					<div class="last-column-caption">Инструменты редактирования</div>
					<div class="right-column-most-popular-list">
						<div class="right-column-most-popular-item">
							<div class="right-column-most-popular-date"></div>
							<div class="right-column-most-popular-text"><a href="change/add">Создать новую статью</a></div>
						</div>
						<div class="right-column-most-popular-item">
							<div class="right-column-most-popular-date"></div>
							<div class="right-column-most-popular-text">Поиск по тегам</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
</body>
</html>